{% extends 'base.html.twig' %}
{% block body %}
<br>

    <div class="container">
    <h1 class="text-right">Création d'une promotion</h1>

    {{ form_start(form) }}
    
                {{ form_row(form.rule_expression, {'label':'Sujet de la réduction : '}) }}
    
                {{ form_row(form.discount_percent,{'label':'Rabais en % : '}) }}

        <div class="errors-container">
            {{ form_errors(form) }}
        </div>
    {{ form_end(form) }}

    <h1 class="text-right">Store</h1>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nom du produit</th>
                <th scope="col">Prix TTC</th>
                <th scope="col">Prix avec réduction</th>
                <th scope="col">Type de produit</th>
            </tr>
        </thead>
        <tbody>
    {% for item in products %}
            <tr>
                <th scope="row">{{ item.id }}</th>

                <td>{{ item.name }}</td>


                <td>{{ item.price }} €</td>

                {% if item.discounted_price %}
                    <td>{{ item.discounted_price }} €</td>
                    {% else %}
                    <td>-</td>
                {% endif %}


                <td>@{{ item.type }}</td>

            </tr>
    {% endfor %}
        </tbody>
    </table>

    <div>

{% endblock %}
